#gameSpace {
    display: flex;

    margin: 5%;
    width: 90%;

    justify-content: space-around;

    font-size: xx-large;
}

#gameSpace .rpsSpace {
    display: flex;

    width: 40%;
    height: 100%;

    flex-direction: column;
}

#gameSpace .rpsSpace div {
    text-align: center;

    width: 100%;
    height: 10%
}

#rpsButtons button {
    position: relative;

    border: none;

    padding: 0;

    width: 33%;
    height: 100%;

    transition: 0.3s ease-in;
}

#rpsButtons button img {
    position: relative;

    width: 80%;

    margin: 10%;

    transition: 0.5s;
}

#rpsButtons, #rpsOpponent {
    display: flex;
    width: 100% !important;
    margin-top: 10%;

    justify-content: center;
    align-items: center;
    align-content: center;
}

#rpsOpponent {
    height: 80% !important;
}

#rpsButtons button:hover img, #rpsButtons button.chosen img {
    width: 100%;

    margin: 0;
}

#rpsButtons button:hover img {
    filter: drop-shadow(7px 9px 3px rgb(0 0 0 / 0.8));
}

#rpsButtons button:disabled:not(.chosen) {
    width: 0;
    height: 0;
}


#rpsOpponent img {
    margin-top: 6.6%;

    width: 26.4%;
    filter: grayscale(1) blur(1px);

    transition: 0.4s ease-in;

}

#rpsOpponent.chosen img {
    margin: 0;
    width: 0;
}

#rpsOpponent img.chosen {
    width: 33%;

    filter: grayscale(0);
}

.rpsScore {
    transition: 0.5s;
}

.rpsScore.opponent.popAnimation {
    color: var(--opponent);
}

.rpsScore.user.popAnimation {
    color: var(--user);
}

#rpsVS {
    display: flex;
    flex-direction: column;

    justify-content: center;
}